.slideshow-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slideshow-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('image1.jpg');
  background-size: cover;
  background-position: center;
  animation: slideshow 20s infinite;
  /* animation: slideshow 15s infinite; */
}

@keyframes slideshow {
  0% {
    background-image: url('image1.jpg');
  }
  20% {
    background-image: url('image6.jpg');
  }
  40% {
    background-image: url('image2.jpg');
  }
  60% {
    background-image: url('image3.jpg');
  }
  80% {
    background-image: url('image4.jpg');
  }
  100% {
    background-image: url('image5.jpg');
  }
}
